[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
cors = "*"
psycopg2 = "*"
flask-jwt = "*"
flask-cors = "*"
tz = "*"
python-dateutil = "*"
docker = "*"
docker-compose = "*"
psycopg2-binary = "*"
cffi = "*"
kubernetes = "*"

[dev-packages]

[requires]
python_version = "3.7"
